body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3D4348;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:hover .movie__details-arrow {
  transform: translate(5px);
}

.btn:disabled {
  cursor: wait;
}

.movie__details-arrow {
  transition-duration: 0.5s;
}

.spinner-grow {
  width: 3rem;
  height: 3rem;
}

.jumbotron {
  background-color: #CCCECF;
}

.list-group-item {
  background-color: #E6E6E7;
}

.card {
  background-color: #E6E6E7;
}